* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Open Sans",
    sans-serif; 
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
  }
  
  nav,
  footer {
    padding: 1% 0;
    background-color: #aaa;
  }
  
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    padding: 8px 25px;
    
  }

  

 

  .home {
      position: relative;
      
  }


  .hamburger div{
    width: 45px;
    height: 5px;
    background-color: black;
    margin: 6px 25px;
    
  }  

  .hidden {
      display: none;
  }
  .hamburger {
     position: relative;
     border: red 3px solid;  

  }


  .nav-options {
      border: red solid 3px;
      
  }

 
  .nav-options > li {
      list-style: none;
      position: relative;
      right: 30px;     
  } 


  
  header {
    padding: 12% 0;
    text-align: center;
    border: red solid 3px;
    height: 20px;
    
    /* border: red 3px solid;    */
  }
  

  

  .character {
    background: url(animated-portfolio-icon-updated-smileOnly.gif) no-repeat;
    /* border: blue solid 3px; */
    height: 500px;
    width: 30%;
    background-size: 100%;
    float: left;
    /* margin-right: 30px; */
    
   
  }

 
 
  .interactive-text {
    font-size: 18px;
    font-weight: 900;
  }

  .speech-bubble {
    /* border: blue 3px solid;     */
    padding-left: 20%;   
    position: relative;
    padding-right: 55%;
    top:100px;
    float: left;
    
  }




  .bubble {
    width: 100%;
    margin: 50px auto;
    border: 4px solid black;
    padding: 10px;
    text-align: center;    
    color: black;    
    position: relative;
  }

    .triangle:before {
    content: ""; 
    position: absolute;
    border-left: 10px solid black;
    border-right: 10px solid transparent;
    border-top: 10px solid black;
    border-bottom: 10px solid transparent;
    left: 19px;
    bottom: -20px;  
  }
  
  section {
    min-height: 100px;
    padding: 6% 0;
    
  }
  
  section:nth-child(even) {
    
  }

  @media screen and (min-width: 500px) {
    .interactive-text {
      font-size: 20px;
    }
    
  }
  @media screen and (min-width: 850px) {
    
    nav {
        align-items: center;
    }
    
    .nav-options > li{
        list-style: none;
        position: relative;
        display: inline-block;
        padding: 0px 10px;
        right: 30px;   
        
    } 

    /* .character-icon {
      right: 140px;
    } */

    .hamburger{
        display: none;
    }

    .home {
        border: red 3px solid;
    }

       .summary {
      font-size: 20px;
      font-weight: bold;
      text-align: left;
    }

    h2 {
      font-size: 30px;
    }


    .about-me-text {
      
      border: black solid 3px;
      /* display: flex;
      flex-direction: column; */
      padding-top: 3%;
      padding-right: 5%;
      
    }
    .about-me-text p {
      font-size: 25px;
      text-align: justify;
      
    }

    .interactive-text {
      font-size: 25px;
    }

    ul {
      border: black 3px solid;
      width: 30%;
      text-align: center;
    }

    
    

  

   
   

  
  