@media screen and (max-width: 850px) {
  .speech-bubble {
    display: none;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  background-color: rgb(243, 214, 243);
  text-align: center;
  line-height: 1.5;
}

nav, footer {
  background-color: rgb(100, 28, 100);
  color: white;
  text-shadow: 2px 2px #252525;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2% 0% 0%;
  width: 100%;
  min-height: 50px;
  border-bottom: rgb(56, 24, 52) solid 1px;
}

.nav-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: .5% 0% 0%;
  margin: 0px;
  background-color: rgb(100, 28, 100);
  width: 100%;
}

nav a {
  color: white;
  text-shadow: 2px 2px #252525;
  font-size: 4vw;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.option-item {
  width: 100%;
  margin-top: 3px;
  padding-top: 3px;
  border-top: rgb(56, 24, 52) solid 1px;
}

.nav-options li:hover {
  background-color: rgb(242, 146, 255);
  -webkit-tap-highlight-color: transparent;
}

footer i:hover {
  color: rgb(219, 208, 208);
}

footer a {
  color: white;
}

footer {
  text-align: center;
}

section {
  min-height: 200px;
  background-color: rgb(243, 214, 243);
  padding: 1%;
}

.contact-info {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  padding: 0% 10%;
}

.list-info {
  display: inline-block;
  padding: 0% 2% 2%;
}

.list-info a {
  font-size: 3.5vw;
}

.fa-github, .fa-envelope, .fa-linkedin {
  color: white;
}

.contact-header {
  font-size: 3vw;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 0%;
}

.home {
  position: relative;
}

.hamburger div {
  width: 100%;
  height: 4px;
  background-color: white;
  margin: 6px;
  box-shadow: 2px 2px #252525;
}

.home {
  display: none;
}

.inline {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  align-self: center;
}

.hidden {
  display: none;
}

.hamburger {
  width: 18%;
  padding-right: 2%;
  align-self: center;
  padding-top: 1%;
  margin: 0 10px 10px;
}

.nav-options>li {
  list-style: none;
}

header {
  margin-top: 0%;
  padding-top: 6%;
}

h1 {
  font-size: 7vw;
}

.character {
  width: 35%;
  min-width: 300px;
}

.full-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  max-height: 600px;
}

.character-icon {
  height: auto;
  width: 100%;
  border-radius: 100%;
}

.about-me {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.about-me-text p {
  text-align: justify;
  font-size: 3vw;
  width: 75%;
  margin: 0 auto;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-button {
  background-color: rgb(100, 28, 100);
  border-radius: .5vh;
  border: none;
  margin: 0px .5rem;
  padding: .5rem 1.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
  color: white;
  font-weight: bold;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.project-button:hover {
  color: rgb(219, 208, 208);
}

.project-img-container {
  width: 75%;
  margin: 0px auto 50px;
  text-align: center;
}

.project-button-container {
  display: flex;
  justify-content: center;
}

.projects p {
  font-size: 3vw;
  text-align: justify; 
}

.projects .project-description p {
  margin: 0px auto 25px;
  width: 75%;  
}

.projects h3 {
  font-size: 4vw;
  margin-bottom: 0px;
}

.projects-info {
  list-style-type: none;
}

.my-header-border {
  border-width: 1.5vw;
}

hr {
  border-color: rgb(82, 4, 82);
  border-width: 3vw;
}

.project-border {
  border-width: .5vw;
}

section h2 {
  font-size: 5vw;
}

.project-container {
  margin: 0 auto;
  width: 75%;
}

.projectImg {
  height: auto;
  width: 75%;
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 9vw;
  }
  section h2 {
    font-size: 7vw;
  }
  .projects p {
    font-size: 5vw;
  }
  .projects h3 {
    font-size: 6vw;
  }
  .project-button {
    font-size: 2.5vw;
  }
  .about-me-text p {
    font-size: 5vw;
  }
  .list-info a {
    font-size: 5.5vw;
  }
  .contact-header {
    font-size: 5vw;
  }
  nav a {
    font-size: 4vw;
  }
}

@media screen and (min-width: 500px) {
  nav {
    min-height: 78px;
  }
  .hamburger div {
    margin: 10px;
    height: 5px;
  }
  .project-button {
    font-size: 2vw;
  }
}

@media screen and (min-width: 850px) {
  .hidden {
    display: block;
  }
  nav a:hover, footer i:hover {
    color: rgb(219, 208, 208);
    -webkit-tap-highlight-color: transparent;
  }
  .nav-options li:hover {
    background-color: transparent;
  }
  .home {
    display: block;
  }
  nav {
    align-items: center;
    max-height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0% 2%;
  }
  .inline {
    flex-direction: row-reverse;
  }
  .nav-options {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    padding: 1% 0%;
    margin: 0px;
    background-color: transparent;
  }
  nav a {
    font-size: 1.5vw;
  }
  .nav-options>li {
    list-style: none;
    position: relative;
    display: inline-block;
    padding: 0px 10px;
  }
  .option-item {
    width: 16%;
    margin: 0px;
    border-top: none;
  }
  .hamburger {
    display: none;
  }
  .speech-bubble {
    display: flex;
    width: 40%;
    justify-content: flex-start;
    flex-direction: column;
    padding: 2% 0%;
  }
  .bubble {
    position: relative;
    right: 50px;
    width: 100%;
    border: 4px solid black;
    padding: 5% 1%;
    text-align: center;
    color: black;
    position: relative;
    background: rgb(231, 226, 226);
    font-size: 2vw;
    min-height: 32%;
  }
  .triangle:before {
    content: "";
    position: absolute;
    border-left: 10px solid black;
    border-right: 10px solid transparent;
    border-top: 10px solid black;
    border-bottom: 10px solid transparent;
    left: 19px;
    bottom: -20px;
  }
  h1 {
    font-size: 4vw;
  }
  section h2 {
    font-size: 2.5vw;
  }
  .projects p {
    font-size: 1.2vw;
  }
  .projects h3 {
    font-size: 2vw;
  }
  .project-button {
    font-size: 1.2vw;
  }
  .about-me-text p {
    font-size: 1.2vw;
  }
  header {
    padding-top: 6%;
  }
  .list-info a {
    font-size: 2.5vw;
  }
  .contact-header {
    font-size: 2vw;
  }
}