* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Serif', serif;
  
  font-size: 20px;
  background-color: rgb(243, 214, 243);
  text-align: center;
  line-height: 1.5;
}

nav,
footer {
  padding: 1% 0;
  background-color: rgb(100, 28, 100);
  color: white;
}

nav a , footer a {
  color: white;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
  padding: 8px 25px;

}

.contact-info {
 display: flex;
 flex-direction: row;
  list-style: none;
  justify-content: center;
}

.contact-info li {
  display: inline-block;
  padding: 0 2%;
}

.quizApp-container{
 
  height: 500px;
  width: 50%; 
  margin: 0 auto;

}
.quizApp{
  height: auto;
  width: 100%;  
}
.home {
    position: relative;

}


.hamburger div{
  width: 45px;
  height: 5px;
  background-color: black;
  margin: 6px 25px;

}  





.hidden {
    display: none;
}
.hamburger {
   position: relative;
    
}



.nav-options > li {
    list-style: none;
    position: relative;
    right: 30px;     
} 

.interactive-text {
  font-weight: bold;
}

header {
  padding-top: 5%;
  text-align: center;  
  margin: 0 auto;
 
}

h1 {
  font-size: 70px;
}

.character {  
  height: 500px;
  width: 50%;  
}
.speech-bubble {
  
  position: relative;
  top: 100px;
  left: 200px;  

  width: 100%;
  padding-right: 40%;
  padding-left: 15%; 

}


.character-icon{   
  height: auto;
  width: 100%;  

}

.full-icon {
 
  margin: 0 300px;
  

}

.about-me-text p {
  text-align: justify;
  font-size: 25px;
}



.about-me {
  margin: 0 200px;
}



.bubble {
  width: 100%;
  margin: 50px auto;
  border: 4px solid black;
  padding: 10px;
  text-align: center;    
  color: black;    
  position: relative;
  background: rgb(231, 226, 226);
}

  .triangle:before {
  content: ""; 
  position: absolute;
  border-left: 10px solid black;
  border-right: 10px solid transparent;
  border-top: 10px solid black;
  border-bottom: 10px solid transparent;
  left: 19px;
  bottom: -20px;  
}

section {
  /* min-height: 200px; */
   padding: 2% 0%;
 
  
}

.projects-info {
  list-style: none;
}

.my-header-border{
  border-width: 10px;

}

hr {
 border-color: rgb(82, 4, 82);
  border-width: 50px;
  
}

section h2{
  font-size: 50px;
}



section:nth-child(even) {

}


@media screen and (min-width: 850px) {

  nav {
      align-items: center;
  }

  .nav-options > li{
      list-style: none;
      position: relative;
      display: inline-block;
      padding: 0px 10px;
      right: 30px;   

  } 

  
  .hamburger{
      display: none;
  }

  

  

}
